<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/aop
                      http://www.springframework.org/schema/aop/spring-aop.xsd
                      http://www.springframework.org/schema/tx
                      http://www.springframework.org/schema/tx/spring-tx.xsd
                      http://www.springframework.org/schema/context
                      http://www.springframework.org/schema/context/spring-context.xsd
                      http://www.springframework.org/schema/mvc
                      http://www.springframework.org/schema/mvc/spring-mvc.xsd
                      http://www.springframework.org/schema/task
                      http://www.springframework.org/schema/task/spring-task.xsd
                      http://www.springframework.org/schema/cache
    				  http://www.springframework.org/schema/cache/spring-cache.xsd">

		<bean id="source" class="okjjlee.aopdemo.beans.Source">
			<property name="fruit" value="橙子" />
			<property name="sugar" value="少糖" />
			<property name="size" value="大杯" />
		</bean>
		
		<bean id="student" class="okjjlee.aopdemo.beans.Student" scope="prototype">
			<property name="name" value="小猪" />
			<property name="age" value="20" />
		</bean>
		
		<bean id="juiceMaker2" class="okjjlee.aopdemo.beans.JuiceMaker2"
				init-method="init" destroy-method="myDestroy" scope="prototype">
			<property name="beverageShop" value="贡茶" />
			<property name="source" ref="source"/>
		</bean>
		
		<bean id="beanPostProcessor" class="okjjlee.aopdemo.beans.util.BeanPostProcessorImpl">
		</bean>
	
</beans>